<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".PharmaTicApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/drugstore"
        android:label="@string/app_name"
        android:roundIcon="@drawable/drugstore"
        android:supportsRtl="true"
        android:theme="@style/Theme.PharmaTic">

        <activity
            android:name=".struk.StrukActivity"
            android:exported="false" />

        <activity
            android:name=".pembayaran.PembayaranActivity"
            android:exported="false" />

        <activity
            android:name=".pembayaran.VerifikasiPembayaranActivity"
            android:exported="false" />

        <activity
            android:name=".keranjang.KeranjangActivity"
            android:exported="false" />

        <activity
            android:name=".obat.ObatActivity"
            android:exported="false" />

        <activity android:name=".DashboardActivity" android:exported="false" />
        <activity android:name=".admin.AdminDashboardActivity" android:exported="false" />
        <activity android:name=".history.HistoryActivity" android:exported="false" />
        <activity android:name=".admin.LaporanActivity" android:exported="false" />
        <activity android:name=".kasir.KelolaKasirActivity" android:exported="false" />
        <activity android:name=".suplier.KelolaSuplierActivity" android:exported="false" />
        <activity android:name=".kasir.TambahKasirActivity" android:exported="false" />
        <activity android:name=".obat.TambahObatActivity" android:exported="false" />
        
        <!-- Activities baru -->
        <activity android:name=".obat.KelolaObatActivity" android:exported="false" />
        <activity android:name=".obat.EditObatActivity" android:exported="false" />
        <activity android:name=".kasir.EditKasirActivity" android:exported="false" />
        <activity android:name=".suplier.TambahSuplierActivity" android:exported="false" />
        <activity android:name=".suplier.EditSuplierActivity" android:exported="false" />
        <activity android:name=".history.DetailHistoryActivity" android:exported="false" />

        <activity android:name=".auth.LoginActivity" android:exported="false" />
        <activity
            android:name=".auth.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>